html {
    position: relative;
    min-height: 100%;
}

body{
    background-image: url('../img/salmon.png');
    background-size: 50% auto;
    font-family: sans-serif;
    color: #143245;
    background-color: #C3D4E2;
    cursor: url(../img/salmonPointer.png), auto;
    height: 1000px;
}

.head{
    font-family:'Bungee Outline';
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding: 25px 0 10px 0;
    color: #143245;
    background-color: whitesmoke;
    border: 5px solid #9B7C7C;
}

.logo{
    width: 200px;
    margin: 15px 0;
}

.link{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: 20px;
    text-align: center;
    margin: 10px 5px 10px 5px;
    border-bottom: 3px solid black;
    color: #143245;
    
}

h2{
    font-size: 30px;
}

.table{
    background-color: #ED8E76;
    opacity: .9;
    width: fit-content;
    margin: 100px auto;
    border-radius: 10px;
    border: 2px solid #9B7C7C;
}

th{
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

td{
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

tr{
    border-top: 1px solid #9B7C7C;
}

#time{
    border-top: none;
}

.topBanner{
    background-color: #ED8E76;
    border: 2px solid #9B7C7C;  
    opacity: .9;
    height: 400px;
    margin: 80px auto;
    border-radius: 25px;
    width: fit-content;
}

.banner_img{
    width: 300px;
    margin: 50px 50px;
    border-radius: 5px;
}

.banner_text{
    display: inline-block;
    width: 400px;
    height: 500px;
    vertical-align: top;
    margin-top: 90px;
    font-size: 20px;
    padding-right: 50px;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #143245;
    color: whitesmoke;
    text-align: center;
    height: fit-content;
    
}

footer h2{
    padding: 10px;
    margin: 10px;
}

footer p{
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    padding: 17px;
    vertical-align: middle;
}

#storeForm{
    background-color: #ED8E76;
    border: 2px solid #9B7C7C;
    opacity: .9;
    width: fit-content;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
    text-align: right;
    font-size: 17px;
}

input{
    margin: 10px;
}