body{
    background-image: url('../img/salmon.png');
    background-size: 50% auto;
    font-family: sans-serif;
    color: #143245;
    background-color: #C3D4E2;
    cursor: url(../img/salmonPointer.png), auto;
}

.head{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 25px 0 10px 0;
    color: #143245;
    background-color: whitesmoke;
    opacity: 0.85;
}

.link{
    font-size: 15px;
}

h3{
    font-size: 20px;
    text-align: center;
    margin: 10px 5px 10px 5px;
    border-bottom: 3px solid black;
    color: #143245;
    
}

.table{
    background-color: #ED8E76;
    opacity: .9;
    width: fit-content;
    margin: 100px auto;
    border-radius: 10px;
    border: 2px solid #9B7C7C;
}

th{
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

td{
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

tr{
    border-top: 1px solid #9B7C7C;
}

#time{
    border-top: none;
}